<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>EditAndDeleteSuggestionFilter</filter-name>
        <filter-class>com.jhiltunen.filters.EditAndDeleteSuggestionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>EditAndDeleteUserFilter</filter-name>
        <filter-class>com.jhiltunen.filters.EditAndDeleteUserFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>com.jhiltunen.filters.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ControlGroupFilter</filter-name>
        <filter-class>com.jhiltunen.filters.ControlGroupFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>com.jhiltunen.filters.UserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/UserController</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ControlGroupFilter</filter-name>
        <url-pattern>/ControlGroupController</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/AdminController</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>EditAndDeleteUserFilter</filter-name>
        <url-pattern>/EditUserController</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>EditAndDeleteSuggestionFilter</filter-name>
        <url-pattern>/DeleteSuggestionController</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>com.jhiltunen.servlets.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.jhiltunen.servlets.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserController</servlet-name>
        <servlet-class>com.jhiltunen.servlets.EditUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserController</servlet-name>
        <servlet-class>com.jhiltunen.servlets.DeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSuggestionController</servlet-name>
        <servlet-class>com.jhiltunen.servlets.AddSuggestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSuggestionController</servlet-name>
        <servlet-class>com.jhiltunen.servlets.DeleteSuggestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSuggestionController</servlet-name>
        <servlet-class>com.jhiltunen.servlets.EditSuggestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcedureController</servlet-name>
        <servlet-class>com.jhiltunen.servlets.ProcedureController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>com.jhiltunen.servlets.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.jhiltunen.servlets.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlGroupController</servlet-name>
        <servlet-class>com.jhiltunen.servlets.ControlGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserController</servlet-name>
        <servlet-class>com.jhiltunen.servlets.AddUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>com.jhiltunen.servlets.ProfileController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.jhiltunen.servlets.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserController</servlet-name>
        <url-pattern>/EditUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserController</servlet-name>
        <url-pattern>/DeleteUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSuggestionController</servlet-name>
        <url-pattern>/AddSuggestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSuggestionController</servlet-name>
        <url-pattern>/DeleteSuggestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSuggestionController</servlet-name>
        <url-pattern>/EditSuggestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcedureController</servlet-name>
        <url-pattern>/ProcedureController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlGroupController</servlet-name>
        <url-pattern>/ControlGroupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserController</servlet-name>
        <url-pattern>/AddUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/ProfileController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            15
        </session-timeout>
    </session-config>
</web-app>
