.status-icon {
  width:100%;
  text-align:center;
}

@media (max-width: 768px) {
  .col-md-4 {
    margin:20px 0;
  }
}

.img-fluid {
  max-width:100%;
  height:auto;
  border-radius:50%;
}

#users-list {
  border:6px solid #eee;
  overflow-y:scroll;
  max-height:500px;
}

#users-list span {
  margin-left:10px;
}

.modify {
  margin-left:5px;
}

.col.user-img-col {
  margin-top:5px;
}